*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    font-weight: 400;
  }
}

.hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
