:root {
  --primary-green: #819b57;
  --primary-dark: #31261a;
  --primary-light: #faf4ea;
  --secondary-green: #465929;
  --secondary-dark: #a18268;
  --secondary-light: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desctop: 1280px;
