.primary-green-accent {
  color: var(--primary-green);
}

.secondary-green-accent {
  color: var(--secondary-green);
}

.text-bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}
